
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Website Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  .fakeimg {
      height: 200px;
      background: #aaa;
  }
  </style>
</head>
<body>

<div class="jumbotron text-center" style="margin-bottom:0">
  <h1>Social Network</h1>
  <p>Here Users can add and edit notes !</p> 
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">social</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        

        <li *ngIf="log == false "><a routerLink="/login" routerLinkActive="active">Login</a></li>
        <li *ngIf="log == true"><a type="button" (click)="logout()">Logout</a></li>

        <li><a routerLink="/" routerLinkActive="active">Home</a></li>
        <li *ngIf="log == true && is_admin == 1"><a type="button"  (click)="getResponse()">users</a></li>
        <li *ngIf="log == true"><a type="button" (click)="getNotes()">Notes</a></li>
         <br>


      </ul>
    </div>
  </div>
</nav>
<app-alerts></app-alerts>
<div class="container">
  <div class="bg"></div>

    <p class="py-5 text-center">This example creates a full page background image. Try to resize the browser window to see how it always will cover the full screen (when scrolled to top), and that it scales nicely on all screen sizes.</p>
</div>


</body>
</html>




<router-outlet></router-outlet>

