<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div style="text-align: center;">
    <button type="button" class="btn btn-success" (click)="inserUser()" >Add user</button>
</div>
<div class="container">
  <h2>users</h2>
  <p>The users registered :</p>            
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
     <tr *ngFor="let user of response">
      <td>{{user.user_name}}</td>
        <td> {{user.user_email}}</td>
        <td> {{user.user_phone}}</td>
        <td>
           <button class="btn btn-success" routerLink="/editUser/{{user.user_id}}" routerLinkActive="active"> Edit </button>
        	<button class="btn btn-danger" (click)="deleteUser('users/deleteUser/'+user.user_id)"> Delete </button>
        </td>
      </tr>
      
    </tbody>
  </table>
</div>

</body>
</html>
