

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div style="text-align: center">
   <button type="button" class="btn btn-success" (click)="insertNote()">Add Note</button>
</div>


<div class="container">
  <h2>Notes</h2>
  <p>The Notes registered :</p>            
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>userName</th>
        <th>note</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
     <tr *ngFor="let note of response">
        <td>{{note.user_name}}</td>
        <td>{{note.note_text}}</td>

        <td>
          <button *ngIf="note.is_shared == 0" class="btn btn-primary" (click)="shareNote('notes/shareNote/'+note.note_id)"> Share </button>

          <button *ngIf="note.user_id == user_id"  class="btn btn-success" routerLink="/editNote/{{note.note_id}}" routerLinkActive="active"> Edit </button>

        	<button *ngIf="note.user_id == user_id" class="btn btn-danger" (click)="deleteNote('notes/deleteNote/'+note.note_id)"> Delete </button>
       </td>
      </tr>
      
    </tbody>
  </table>
</div>

</body>
</html>
