<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!-- div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div class="box">
                    <div class="shape1"></div>
                    <div class="shape2"></div>
                    <div class="shape3"></div>
                    <div class="shape4"></div>
                    <div class="shape5"></div>
                    <div class="shape6"></div>
                    <div class="shape7"></div>
                    <div class="float">
                        <form  name="loginForm" #loginForm="ngForm" (ngSubmit)="login(loginForm)" novalidate >
                            <div class="form-group">
                                <label for="username" class="text-white">Email address:</label><br>
                                 <input type="email" class="form-control" [(ngModel)]="dataForm.email" name='email' id="email">
                            </div>
                            <div class="form-group">
                                <label for="username" class="text-white">Password:</label><br>
                               <input type="password" class="form-control" [(ngModel)]="dataForm.pass" name='pass' id="pass">
                            </div>
                            <div class="form-group">
                                <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div> --> 



<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->

   
    <form  name="loginForm" #loginForm="ngForm" (ngSubmit)="login(loginForm)" novalidate >
      <input type="text" id="login" class="fadeIn second" [(ngModel)]="dataForm.email" name='email' id="email" placeholder="email" required>
       <span style="color:red" *ngIf="loginForm.submitted && !dataForm.email ">
                        please insert your email
                   </span>
      <input type="text" id="password" class="fadeIn third" [(ngModel)]="dataForm.pass" name='pass' id="pass" placeholder="password" required>
       <span style="color:red" *ngIf="loginForm.submitted && !dataForm.pass ">
                        please insert your password
                   </span>
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>


  </div>
</div>