<!--  <form  name="updateForm" #updateForm="ngForm" (ngSubmit)="update(updateForm)" novalidate >

 	                        <div class="form-group">
                                 <input type="hidden" class="form-control" [(ngModel)]="dataForm.id" name='id' id="id">
                            </div>
                            <div class="form-group">
                                <label for="username" class="text-white">username:</label><br>
                                 <input type="text" class="form-control" [(ngModel)]="dataForm.name" name='name' id="name">
                            </div>

                            <div class="form-group">
                                <label for="username" class="text-white">password:</label><br>
                                 <input type="password" class="form-control" [(ngModel)]="dataForm.pass" name='pass' id="pass">
                            </div>

                            <div class="form-group">
                                <label for="username" class="text-white">phone:</label><br>
                               <input type="text" class="form-control" [(ngModel)]="dataForm.phone" name='phone' id="phone">
                            </div>
                            <div class="form-group">
                                <label for="username" class="text-white">Email:</label><br>
                               <input type="email" class="form-control" [(ngModel)]="dataForm.email" name='email' id="email">
                            </div>
                            <div class="form-group">
                                <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
                            </div>
                        </form> -->





 <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
        <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Add user Data</h3>
            </div>
            <div class="panel-body">
             <form  name="updateForm" #updateForm="ngForm" (ngSubmit)="update(updateForm)" novalidate >                
                <div class="form-group">
                   <input type="hidden" class="form-control" [(ngModel)]="dataForm.id" name='id' id="id">
                </div>


                  <div class="form-group">
                    <div class="form-group">
                      <input type="text" [(ngModel)]="dataForm.name" name="name" id="name" class="form-control input-sm" placeholder="username" required="">
                      <span style="color:red" *ngIf="updateForm.submitted && !dataForm.name ">
                        please insert username
                   </span>
                    </div>
                  </div>
                

                <div class="form-group">

                  <input type="email"  [(ngModel)]="dataForm.email" name="email" id="email" class="form-control input-sm" placeholder="Email Address" required="">
                  <span style="color:red" *ngIf="updateForm.submitted && !dataForm.email ">
                        please insert your email
                   </span>
                </div>

                <div class="row">
                  <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="form-group">
                      <input type="password" [(ngModel)]="dataForm.pass" name="pass" id="pass" class="form-control input-sm" placeholder="Password" required="">
                      <span style="color:red" *ngIf="updateForm.submitted && !dataForm.pass ">
                        please insert your password
                   </span>
                    </div>
                  </div>

                 <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="form-group">
                      <input type="text" [(ngModel)]="dataForm.phone" name="phone" id="phone" class="form-control input-sm" placeholder="phone" required="">
                      <span style="color:red" *ngIf="updateForm.submitted && !dataForm.phone ">
                        please insert your phone
                   </span>
                    </div>
                  </div>
                </div>
                
                <input type="submit" value="update" class="btn btn-info btn-block">
              
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>