<!-- <p>
  create-note works!
</p>
<form  name="loginForm" #createForm="ngForm" (ngSubmit)="create(createForm)" novalidate >
                           
                            <div class="form-group">
                                <label for="username" class="text-white">text:</label><br>
                            <textarea class="form-control" [(ngModel)]="dataForm.note_text" name="note_text" id="note_text" ></textarea>
                            </div>
                            <div class="form-group">
                                <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
                            </div>
                        </form> -->



                         <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
        <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Add note</h3>
            </div>
            <div class="panel-body">
            	<form  name="loginForm" #createForm="ngForm" (ngSubmit)="create(createForm)" novalidate >
                
                  <div class="form-group">
                    <div class="form-group">
                      <textarea class="form-control" [(ngModel)]="dataForm.note_text" name="note_text" id="note_text" placeholder="Add your note" required></textarea>

                      <span style="color:red" *ngIf="createForm.submitted && !dataForm.note_text ">
                        you must add text ton note to submit it
                   </span>
                    </div>
                  </div>
             

                
                <input type="submit" value="Add" class="btn btn-info btn-block">
              
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>